$color: steelblue;
$colorButton: #33FF55;

body{
  background-color: $color;
  font-family: 'roboto condensed', sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.justify-content-end{
  font-size: 16px;
  background-color: $colorButton
}

Form{
  font-family: 'roboto condensed', sans-serif;
  font-size: 30px;
  line-height: 32px;
}

.submit{
  background-color: $colorButton;
}

.form-group{
  width: 70%;
  margin: auto;
  margin-bottom: 20px;
}

.input{
    width: 70%;
    margin: auto;
}

.btn-primary{
  margin-left: 15%;
  color: black;
}

.btn-secondary{
  background-color: $colorButton;
  color: black;
}

.label{
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.value{
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

a{
  color: black;
}

.login-input{
  display: inline-block;
}
