$color: steelblue;
$colorButton: #33FF55;

Form{
  font-family: 'roboto condensed', sans-serif;
  font-size: 30px;
  line-height: 32px;
}

.submit{
  background-color: $colorButton;
}

.form-group{
  width: 70%;
  margin: auto;
  margin-bottom: 20px;
}

.input{
    width: 70%;
    margin: auto;
    margin-bottom: 25px;
}

.btn-primary{
  color: white;
  margin-left: 15%;
}

.label{
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
